<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Class-less preview • Pico CSS</title>
    <meta name="description" content="A class-less example, without dependencies.">

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.classless.min.css"
    >
  </head>

  <body></body>
  <!-- File browser -->
          <label for="file"
            >File browser
            <input type="file" id="file" name="file">
          </label>


          </body>
          </html>